<div class="container">
  <% @articles.each do |article| %>
    <section class="hero" style="margin-top: 5%;">
      <div class="hero-body">
        <div class="container" style="padding: 2.5%;">
          <h1 class="title">
            <%= link_to article.title, article %>
          </h1>
          <h2 class="subtitle">
            <%= article.content %>
          </h2>
          <h3 class="subtitle">
            <%= article.created_at.strftime('%B %d, %Y') %>
          </h3>
        </div>
      </div>
    </section>
  <% end %>
</div>