<div class="container">
  <section class="hero" style="margin-top: 5%;">
    <div class="hero-body">
      <div class="container" style="padding: 2.5%;">
        <h1 class="title">
          <%= @article.title %>
        </h1>
        <h2 class="subtitle">
          <%= @article.content %>
        </h2>
      </div>
    </div>
  </section>
</div>